<h3>Annotation values of "whereis.fullcontact.com/description"</h3>
<br>
<h4>Format: {"service name" => "annotation value"}</h4>

<ul>
  <% @annotation_values.each do |value| %>
    <li>
      <%= value %>
    </li>
  <% end %>
</ul>
