<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Welcome Page</a><br>
    <a href="/aboutthisapp">About this app</a><br>
    <a href="/service-annotation-search">Service Annotation Search</a><br>
    <a href="/docs/doc/index.html">Read Docs</a>

    <%= yield %>
  </body>
</html>
